/******************
     VARIABLES
******************/
:root {
    /* Colors */
    --Black:     #151515;
    --Green:     #4ee1a0;
    --Dark-Grey: #242424;
    --Grey:      #d9d9d9;
    --White:     #ffffff;
}

/******************
     CSS Reset
******************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--Black);
}

body {
    min-height: 100vh;
    line-height: 1.5;
    overflow: hidden;
}


input, button, textarea, select {
    font: inherit;
}

picture {
    display: block;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    display: inline-block;
}

.site-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 1.6rem;
}

@media screen and (min-width: 768px) {
    .site-wrapper {
        padding: 2.2rem 3rem;
    }
}

/******************
     ARTIFACTS
******************/
#rings-img {
    position: absolute;
    left: -34rem;
    top: 12.5rem;
    z-index: -2;
}

#circle-img {
    position: absolute;
    right: -7rem;
    top: 25.5rem;
    z-index: -2;
}




@media screen and (min-width: 768px) {
    #rings-img {
        left: -26rem;
        top: 9rem;
    }

    #circle-img {
        top: 46.5rem;
        z-index: initial;
    }
}

@media screen and (min-width: 1024px) {
    #rings-img {
        left: -10rem;
        top: 13rem;
    }

    #circle-img {
        display: none;
    }
}




/******************
     NAV
******************/
.nav {
    width: 15.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    position: relative;
}

.mohit-container {
    position: absolute;
    top: 0;
    right: -3.5rem;
    z-index: -1;
    transform: scale(0.8);
}

.mohit-container::after {
    content: url(../assets/images/pattern-circle.svg);
    position: absolute;
    bottom: 5rem;
    left: -6.45rem;
    visibility: hidden;
}

.nav__name {
    color: var(--White);
    font-size: 2.4rem;
    vertical-align: top;
}

.nav__social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}


/* Icons */
#github-icon {
    transform: scale(0.8);
}

#mentor-icon {
    transform: scale(0.76);  
}

#linkedin-icon {
    transform: scale(0.77);  
    
}

#twitter-icon {
    transform: scale(0.78);  
}

#github-icon:hover path,
#mentor-icon:hover path,
#linkedin-icon:hover path,
#twitter-icon:hover path {
    fill: var(--Green);
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 111rem;
    }

    .nav__name {
        font-size: 3.2rem;
    }

    .mohit-container {
        top: -4rem;
        right: -3rem;
        z-index: -1;
        transform: scale(1);
    }

    .nav__social-icons {
        max-width: 19.249rem;
        position: relative;
        top: 0.3rem;
    }

    #github-icon {
        transform: scale(1);
    }

    #mentor-icon {
        transform: scale(1);  
    }
    
    #linkedin-icon {
        transform: scale(1);  
        
    }
    
    #twitter-icon {
        transform: scale(1);  
    }
}

@media screen and (min-width: 1024px) {
    .nav__social-icons {
        right: 2.5rem;
    }

    .mohit-container {
        top: -4rem;
        right: -3rem;
    }

    .mohit-container::after {
        visibility: visible;
    }
}





/******************
     HERO
******************/
.hero {
    margin: 30rem auto 0;
    position: relative;
    text-align: center;
    max-width: 111rem;
}


.hero__heading {
    color: var(--White);
    font-size: 4rem;
    letter-spacing: -1.14px;
    line-height: 4rem;
}

.hero__heading-tablet {
    color: var(--White);
    font-size: 4rem;
    letter-spacing: -1.14px;
    line-height: 4rem;
    display: none;
}

.hero__heading-desktop {
    color: var(--White);
    font-size: 4rem;
    letter-spacing: -1.14px;
    line-height: 4rem;
    display: none;
}


#span-3 {
    position: relative;
}

#span-3::after {
    content: '';
    background-color: var(--Green);
    height: 4px;
    width: 235px;
    position: absolute;
    left: 1px;
    bottom: 0;
    white-space: nowrap;
}

.hero__tagline {
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.2rem;
}

.hero__contact-me {
    margin-top: 3rem;
}

.hero__contact-me > a {
    color: var(--White);
    border-bottom: 2px solid var(--Green);
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2.29px;
    margin: 0 auto;
    font-weight: 500;
}

.hero__contact-me > a:hover {
    color: var(--Green);
}

@media screen and (min-width: 768px) {
    .hero {
        margin-top: 8.4rem;
        text-align: left;
    }

    .hero__heading {
        display: none;
    }

    .hero__heading-tablet {
        color: var(--White);
        letter-spacing: -1.14px;
        font-size: 7.2rem;
        line-height: 7.2rem;
        display: block;
    }
    s
    #span-3::after {
        content: '';
        background-color: var(--Green);
        height: 6px;
        width: 430px;
        position: absolute;
        left: 3px;
        bottom: 0;
    }

    .hero__tagline {
        max-width: 45ch;
        margin-top: 7rem;
        font-size: 1.8rem;
    }

    .hero__contact-me {
        margin-top: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        margin-top: 11.8rem;
    }

    .hero__heading-desktop {
        font-size: 8.8rem;
        line-height: 9rem;
        display: block;
    }

    .hero__heading-tablet {
        display: none;
    }

    #span-3::after {
        content: '';
        background-color: var(--Green);
        height: 6px;
        width: 525px;
        position: absolute;
        left: 3px;
        bottom: 0;
    }

    .hero__tagline {
        margin-top: 5rem;
    }

    .hero__contact-me {
        margin-top: 6.4rem;
    }
}




