/******************
     VARIABLES
******************/
:root {
    /* Colors */
    --Black: #151515;
    --Green: #4ee1a0;
    --Dark-Grey: #242424;
    --Grey: #d9d9d9;
    --White: #ffffff;
}

/******************
     CSS Reset
******************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--Black);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: min-content;
    line-height: 1.5;
}


input,
button,
textarea,
select {
    font: inherit;
}

picture {
    display: block;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    display: inline-block;
}

.site-wrapper {
    position: relative;
    min-height: min-content;
    overflow: hidden;
    padding: 1.6rem;
}

.site-wrapper-grey {
    background-color: var(--Dark-Grey);
    height: min-content;
    position: relative;
    overflow: hidden;
    padding: 1.6rem;

}

.container {
    max-width: 111rem;
}

@media screen and (min-width: 768px) {
    .site-wrapper {
        padding: 2.2rem 3rem;
    }

    .site-wrapper-grey {
        padding: 2.2rem 3rem;
    }
}

/******************
     ARTIFACTS
******************/
#rings-img {
    position: absolute;
    left: -34rem;
    top: 12.5rem;
    z-index: -2;
}

#circle-img {
    position: absolute;
    right: -7rem;
    top: 25.5rem;
    z-index: -2;
}






@media screen and (min-width: 768px) {
    #rings-img {
        left: -26rem;
        top: 9rem;
    }

    #circle-img {
        top: 46.5rem;
        z-index: initial;
    }
}

@media screen and (min-width: 1024px) {
    #rings-img {
        left: -10rem;
        top: 13rem;
    }

    #circle-img {
        display: none;
    }
}




/******************
    Buttons
******************/


.button > a, button {
    color: var(--White);
    border-bottom: 2px solid var(--Green);
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2.29px;
    margin: 0 auto;
    font-weight: 500;
}

.button > a:hover, button:hover {
    color: var(--Green);
}

button {
    background-color: transparent;
    outline: none;
    border-left: none;
    border-top: none;
    border-right: none;
    cursor: pointer;
}




/******************
     NAV & FOOTER
******************/
.nav, .footer {
    width: 15.4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    position: relative;
}

.footer {
    margin-top: 3.8rem;
}

.mohit-container {
    position: absolute;
    top: 0;
    right: -3.5rem;
    z-index: -1;
    transform: scale(0.8);
}

.mohit-container::after {
    content: url(../assets/images/pattern-circle.svg);
    position: absolute;
    bottom: 5rem;
    left: -6.45rem;
    visibility: hidden;
}

.nav__name {
    color: var(--White);
    font-size: 2.4rem;
    vertical-align: top;
    font-weight: 500;
}

.nav__social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.icon-container.youtube {
    height: 3rem;
}


/* Icons */
.github-icon {
    transform: scale(0.8);
}

.mentor-icon {
    transform: scale(0.76);
}

.youtube-icon {
    transform: scale(0.77);

}

.twitter-icon {
    transform: scale(0.78);
}

.github-icon:hover path,
.mentor-icon:hover path,
.youtube-icon:hover path,
.twitter-icon:hover path {
    fill: var(--Green);
}

@media screen and (min-width: 768px) {
    .nav, .footer {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 111rem;
    }

    .footer {
        margin-top: 2.5rem;
    }

    .nav__name {
        font-size: 3.2rem;
    }

    .mohit-container {
        top: -4rem;
        right: -3rem;
        z-index: -1;
        transform: scale(1);
    }

    .nav__social-icons {
        max-width: 19.249rem;
        position: relative;
        top: 0.3rem;
    }

    .github-icon {
        transform: scale(1);
    }

    .mentor-icon {
        transform: scale(1);
    }

    .youtube-icon {
        transform: scale(1);

    }

    .twitter-icon {
        transform: scale(1);
    }
}

@media screen and (min-width: 1024px) {
    .nav__social-icons {
        right: 2.5rem;
    }

    .mohit-container {
        top: -4rem;
        right: -3rem;
    }

    .mohit-container::after {
        visibility: visible;
    }
}





/******************
     HERO
******************/
.hero {
    margin: 30rem auto 0;
    position: relative;
    text-align: center;
}


.hero__heading {
    color: var(--White);
    font-size: 4rem;
    letter-spacing: -1.14px;
    line-height: 4rem;
}

.hero__heading-tablet {
    color: var(--White);
    font-size: 4rem;
    letter-spacing: -1.14px;
    line-height: 4rem;
    display: none;
}

.hero__heading-desktop {
    color: var(--White);
    font-size: 4rem;
    letter-spacing: -1.14px;
    line-height: 4rem;
    display: none;
}


.span {
    position: relative;
}

.span::after {
    content: '';
    background-color: var(--Green);
    height: 4px;
    width: 235px;
    position: absolute;
    left: 1px;
    bottom: 0;
    white-space: nowrap;
}

.hero__tagline {
    color: var(--Grey);
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.2rem;
}

.hero .button {
    margin-top: 3rem;
}


@media screen and (min-width: 768px) {
    .hero {
        margin-top: 8.4rem;
        text-align: left;
    }

    .hero__heading {
        display: none;
    }

    .hero__heading-tablet {
        color: var(--White);
        letter-spacing: -1.14px;
        font-size: 7.2rem;
        line-height: 7.2rem;
        display: block;
    }

    .span::after {
        content: '';
        background-color: var(--Green);
        height: 6px;
        width: 430px;
        position: absolute;
        left: 3px;
        bottom: 0;
    }

    .hero__tagline {
        max-width: 45ch;
        margin-top: 7rem;
        font-size: 1.8rem;
    }

    .hero .button {
        margin-top: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        margin-top: 11.8rem;
    }

    .hero__heading-desktop {
        font-size: 8.8rem;
        line-height: 9rem;
        display: block;
    }

    .hero__heading-tablet {
        display: none;
    }

    .span::after {
        content: '';
        background-color: var(--Green);
        height: 6px;
        width: 525px;
        position: absolute;
        left: 3px;
        bottom: 0;
    }

    .hero__tagline {
        margin-top: 5rem;
    }

    .hero .button {
        margin-top: 6.4rem;
    }
}



/******************
    Experience
******************/
.experience-container {
    display: grid;
    color: var(--White);
    padding: 4rem 0 2.2rem 0;
    border-top: 1px solid var(--White);
    border-bottom: 1px solid var(--White);
    row-gap: 1.8rem;
    margin: 8rem auto 0;
    position: relative;
}

.skill {
    text-align: center;
}

.skill h1 {
    font-size: 3.2rem;
}

.skill p {
    font-size: 1.6rem;
    color: var(--Grey);
    font-weight: 400;
}

#rings-img-mid-page {
    position: absolute;
    bottom: -5rem;
    right: -35rem;
}

@media screen and (min-width: 768px) {
    .experience-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 4.5rem;
        margin: 9rem auto 0;
        padding: 4.5rem 0 0 0;
        border-bottom: none;
    }

    .skill {
        text-align: left;
    }

    .skill h1 {
        font-size: 4.8rem;
    }

    .skill p {
        font-size: 1.8rem;
        margin-top: 0.5rem;
    }

    #rings-img-mid-page {
        bottom: 2rem;
        right: -39rem;
    }
}

@media screen and (min-width: 1024px) {
    .experience-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 25rem auto 0;
        padding: 6.6rem 0 0 0;
        row-gap: 5rem;
        column-gap: 3.5rem;
    }

    #rings-img-mid-page {
        bottom: 2rem;
        right: -42rem;
    }
}




/******************
    Projects Card
******************/
.projects__card {
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
}

.projects__card-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.projects__card-image>img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: 0.3s linear;
}

.projects__card-image:hover>img {
    transform: scale(1.03);
}

.projects__card-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.projects__card-image .overlay:hover {
    opacity: 1;
}

.projects__card-description {
    margin-top: 1.8rem;
}

.projects__card-description h1 {
    color: var(--White);
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.projects__card-description .languages {
    display: flex;
    color: var(--Grey);
    font-size: 1.8rem;
    gap: 1.8rem;
    margin-top: 0.6rem;
    text-transform: uppercase;
}

.projects__card-description .buttons-container {
    margin-top: 2.3rem;
    display: flex;
    gap: 3rem;
}

@media screen and (min-width: 1024px) {
    .projects__card-description .buttons-container {
        display: none;
    }
}




/******************
    PROJECTS SECTION
******************/
.projects {
    margin: 7rem auto 0;
    padding-bottom: 6.5rem;
}

/* HEADER */
.projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__header .heading {
    font-size: 4rem;
    color: var(--White);
}

/* PROJECTS */

.projects__container {
    display: grid;
    gap: 4rem;
    margin-top: 3rem;
}

@media screen and (min-width: 768px) {
    .projects {
        margin: 3.5rem auto 0;
    }

    .projects__header .heading {
        font-size: 7.2rem;
    }

    .projects__container {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem;
        column-gap: 2rem;
        row-gap: 5.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .projects {
        margin: 12rem auto 0;
    }

    .projects__header .heading {
        font-size: 8.8rem;
    }

    .projects__container {
        margin-top: 5rem;
        column-gap: 3rem;
        row-gap: 7rem;
    }
}





/******************
    CONTACT SECTION
******************/
.contact {
    border-bottom: 1px solid var(--White);
    padding-bottom: 8.5rem;
    margin: 4rem auto;
}
.contact__header {
    text-align: center;
    max-width: 44.5rem;
    margin: 0 auto;
}

.contact__header h1 {
    font-size: 4rem;
    color: var(--White);
}

.contact__header p {
    color: var(--Grey);
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

/* Form */
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 5rem auto 0;
    max-width: 44.5rem;

}

.contact__form .input {
    border-bottom: 1px solid var(--White);
}

.contact__form input {
    width: 100%;
    background-color: transparent;
    color: var(--Grey);
    font-size: 1.6rem;
    border: none;
    padding: 0.1rem 2.3rem 1.6rem;
    outline: none;
}

.input textarea {
    width: 100%;
    background-color: transparent;
    color: var(--Grey);
    font-size: 1.6rem;
    border: none;
    padding: 0.1rem 2.3rem 6rem;
    outline: none;
    resize: none;
}

.actions {
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .contact {
        margin: 2.2rem auto;
    }
    .contact__header h1 {
        font-size: 7.2rem;
    }

    .contact__header p {
        font-size: 1.8rem;
        margin-top: 0.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        justify-content: space-between;
        margin: 3.8rem auto;
    }

    .contact__header {
        margin: 0;
        text-align: left;
    }

    .contact__header h1 {
        font-size: 8.8rem;
    }

    .contact__header p {
        margin-top: 1.4rem;
    }

    .contact__form {
        margin: 0;
        width: 100%;
    }
}