<section class="hero">
	<h1 class="hero__heading">
		Nice to meet you! I'm
		<span id="span-3">Mohit&nbsp;Kumar.</span>
	</h1>
	<h1 class="hero__heading-tablet">
		Nice to <br />
		meet you! I'm <br />
		<span id="span-3">Mohit&nbsp;Kumar.</span>
	</h1>
	<h1 class="hero__heading-desktop">
		Nice to meet you! <br />
		I'm
		<span id="span-3">Mohit&nbsp;Kumar.</span>
	</h1>
	<p class="hero__tagline">
		Based in SF bay area, I'm a front-end developer ready to make an impact on your team.
	</p>
	<div class="hero__contact-me">
		<a href="#">Contact Me</a>
	</div>
</section>
