<div class="projects__card">
	<div class="projects__card-image">
		<img src="assets/images/thumbnail-project-1-small.webp" alt="" />
		<div class="overlay">
			<div class="button">
				<a href="#">View Project</a>
			</div>
			<div class="button">
				<a href="#">View Code</a>
			</div>
		</div>
	</div>
	<div class="projects__card-description">
		<h1>Design portfolio</h1>
		<div class="languages">
			<p>HTML</p>
			<p>CSS</p>
		</div>
		<div class="buttons-container">
			<div class="button">
				<a href="#">View Project</a>
			</div>
			<div class="button">
				<a href="#">View Code</a>
			</div>
		</div>
	</div>
</div>
