<section class="projects container">
	<header class="projects__header">
		<h1 class="heading">Projects</h1>
		<div class="button">
			<a href="#">Contact Me</a>
		</div>
	</header>
	<div class="projects__container">
		<div class="projects__card">
			<div class="projects__card-image">
				<img src="assets/images/thumbnail-project-1-small.webp" alt="" />
				<div class="overlay">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
			<div class="projects__card-description">
				<h1>Design portfolio</h1>
				<div class="languages">
					<p>HTML</p>
					<p>CSS</p>
				</div>
				<div class="buttons-container">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__card">
			<div class="projects__card-image">
				<img src="assets/images/thumbnail-project-2-small.webp" alt="" />
				<div class="overlay">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
			<div class="projects__card-description">
				<h1>E-learning landing page</h1>
				<div class="languages">
					<p>HTML</p>
					<p>CSS</p>
				</div>
				<div class="buttons-container">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__card">
			<div class="projects__card-image">
				<img src="assets/images/thumbnail-project-3-small.webp" alt="" />
				<div class="overlay">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
			<div class="projects__card-description">
				<h1>Todo Web App</h1>
				<div class="languages">
					<p>HTML</p>
					<p>CSS</p>
					<p>JavaScript</p>
				</div>
				<div class="buttons-container">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__card">
			<div class="projects__card-image">
				<img src="assets/images/thumbnail-project-4-small.webp" alt="" />
				<div class="overlay">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
			<div class="projects__card-description">
				<h1>Entertainment Web app</h1>
				<div class="languages">
					<p>HTML</p>
					<p>CSS</p>
					<p>JavaScript</p>
				</div>
				<div class="buttons-container">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__card">
			<div class="projects__card-image">
				<img src="assets/images/thumbnail-project-5-small.webp" alt="" />
				<div class="overlay">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
			<div class="projects__card-description">
				<h1>Memory Game</h1>
				<div class="languages">
					<p>HTML</p>
					<p>CSS</p>
					<p>JavaScript</p>
				</div>
				<div class="buttons-container">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
		</div>
		<div class="projects__card">
			<div class="projects__card-image">
				<img src="assets/images/thumbnail-project-6-small.webp" alt="" />
				<div class="overlay">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
			<div class="projects__card-description">
				<h1>Art Gallery Showcase</h1>
				<div class="languages">
					<p>HTML</p>
					<p>CSS</p>
					<p>JavaScript</p>
				</div>
				<div class="buttons-container">
					<div class="button">
						<a href="#">View Project</a>
					</div>
					<div class="button">
						<a href="#">View Code</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
